@use '../base/mixins' as m;
@use '../custom' as *;

$sepacarion: 5rem;

.planes {
    color: $verde;
}

.plan {
    padding: 4rem 4rem 4rem 4rem;
    border-bottom: 1px solid #e1e1e1;

    background-image: url('https://i.postimg.cc/x1tbDd0N/trama2.avif');
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: overlay;

    @include media-breakpoint-up(md) {
        border: none;
        @include transition(transform 300ms ease);
        &:hover {
            transform: scale(1.1);
        }
    }

    .precio {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &.inicio {
        border-radius: 4rem;
        background-color: $white;
    }

    &.negocio {
        border-radius: 4rem;
        background-color: gold;

        @include media-breakpoint-up(md) {
            margin-top: -#{$sepacarion};
            margin-bottom: -#{$sepacarion};
            border-radius: 2rem;
            z-index: 100;
           
        }
    }

    &.pro {
        border-radius: 4rem;
        background-color: $white;
    }
}
