@use '../base/mixins' as m;
@use '../custom' as *;


$sepacarion: 5rem;

.planes{
    color:$verde;
}

.plan {
    padding: 4rem 4rem 4rem 4rem;
    border-bottom:  1px solid #e1e1e1;

    @include media-breakpoint-up(md) {
        border: none;
        @include transition(transform 300ms ease);
        &:hover {
            transform: scale(1.1);

        }

    }

    .precio {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &.inicio {
        border-radius: 4rem;
        background-color: $white;
    }

    &.negocio {
        border-radius: 4rem;
        background-color: $verde;
        
        /* Signo de & porque plan y negocio estan en el mismo elemento */
        @include media-breakpoint-up(md) {
            margin-top: -#{$sepacarion};
            /* hace que el contenedor central crezca hacia arriba */
            margin-bottom: -#{$sepacarion};
            border-radius: 2rem;
            z-index: 100;
           
            background-position-y: calc(2rem + #{$sepacarion}); /* Alineamos los iconos */
        }
    }

    &.pro {

        border-radius: 4rem;
        background-color: $white;
    }
}