<section id="Clases" class="container my-5">
    
    <h2 class="text-center my-5 fs-3 fw-bold mb-4 galeriaHeader">Clases</h2>

    <div class="row">
    
        <div class="col-12 mb-4">
            <div class="card border-0 rounded">

                <div class="card-header text-center fw-bold ">
                    Horarios de Clases
                </div>
                <img src="https://i.postimg.cc/d3cP3fc4/img-39.jpg" class="card-img-top rounded" alt="Imagen Servicio 1">
            </div>
        </div>

    </div>
</section>