<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__widget">
                <img class="footer__logo" src="https://i.postimg.cc/HnxRPCmZ/Frailes-Fit-Logo.png" alt="Logo">
            </div>

            <div class="footer__widget">
                <h3 class="footer__heading fw-bold fs-2">
                    <i class="bi bi-house-door"></i> Gimnasio
                </h3>
                <nav class="footer_nav">
                    <a class="footer__link" href="/src/pages/horarios.html">
                        <i class="bi bi-clock"></i> Horarios
                    </a>
                    <a class="footer__link" href="/src/pages/entrenadores.html">
                        <i class="bi bi-person-fill"></i> Entrenadores
                    </a>
                    <a class="footer__link" href="/src/pages/instalaciones.html">
                        <i class="bi bi-building"></i> Instalaciones
                    </a>
                </nav>
            </div>

            <div class="footer__widget">
                <h3 class="footer__heading fw-bold fs-2">
                    <i class="bi bi-info-circle"></i> Nosotros
                </h3>
                <nav class="footer_nav">
                    <a class="footer__link" href="/src/pages/rutinas.html">
                        <i class="bi bi-list-check"></i> Rutinas
                    </a>
                    <a class="footer__link" href="/src/pages/contacto.html">
                        <i class="bi bi-envelope-fill"></i> Contacto
                    </a>
                    <a class="footer__link" href="/index.html">
                        <i class="bi bi-house-door-fill"></i> Inicio
                    </a>
                </nav>
            </div>

            <div class="footer__widget">
                <h3 class="footer__heading fw-bold fs-2">
                    <i class="bi bi-bag-fill"></i> Tienda
                </h3>
                <nav class="footer_nav">
                    <a class="footer__link" href="/src/pages/suplementacion.html">
                        <i class="bi bi-cup-straw"></i> Suplementación
                    </a>
                    <a class="footer__link" href="/src/pages/merchandising.html">
                        <i class="bi bi-gift"></i> Merchandising
                    </a>
                    <a class="footer__link" href="https://www.instagram.com/frailesfit/">
                        <i class="bi bi-instagram"></i> Instagram
                    </a>
                </nav>
            </div>
        </div>
    </div>

    <p class="footer__copyright">FrailesFit Todos los derechos Reservados</p>
</footer>
