<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__widget">
                <img class="footer__logo" src="build/img/FrailesFitLogo2.avif" alt="Logo Podcast Fm">
            </div>

            <div class="footer__widget">
                <h3 class="footer__heading fw-bold fs-2">Gimnasio</h3>
                <nav class="footer_nav">
                    <a class="footer__link" href="#">Horarios</a>
                    <a class="footer__link" href="#">Entrenadores</a>
                    <a class="footer__link" href="#">Instalaciones</a>
                </nav>
            </div>
            <div class="footer__widget">
                <h3 class="footer__heading fw-bold fs-2">Nosotros</h3>
                <nav class="footer_nav">
                    <a class="footer__link" href="#">Rutinas</a>
                    <a class="footer__link" href="#">contacto</a>
                    
                </nav>
            </div>
            <div class="footer__widget">
                <h3 class="footer__heading fw-bold fs-2">Tienda</h3>
                <nav class="footer_nav">
                    <a class="footer__link" href="#">Suplementación</a>
                    <a class="footer__link" href="#">Merchandising</a>
                    <a class="footer__link" href="#">Instagram</a>
                </nav>
            </div>
        </div>
    </div>

    <p class="footer__copyright">FrailesFit Todos los derechos Reservados</p>
</footer>
