<section class="container-xl py-5 ">

    <h2 class="text-center galeriaHeader fw-bold my-5">Galería</h2>
    <ul class="row list-unstyled galeria">
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente5">
                <img class="img-fluid my-3 img-clickable" src="build/img/clientes/cliente5.avif" data-src="build/img/clientes/cliente5.avif"  alt="imagen galeria">
            </a>
        </li>
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente8">
                <img class="img-fluid my-3 img-clickable" src="build/img/clientes/cliente8.avif" data-src="build/img/clientes/cliente8.avif" alt="imagen galeria">
            </a>
        </li>
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente10">
                <img class="img-fluid my-3 img-clickable" src="build/img/clientes/cliente10.avif" data-src="build/img/clientes/cliente10.avif" alt="imagen galeria">
            </a>
        </li>
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente15">
                <img class="img-fluid my-3 img-clickable" src="build/img/clientes/cliente15.avif" data-src="build/img/clientes/cliente15.avif" alt="imagen galeria">
            </a>
        </li>
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente20">
                <img class="img-fluid my-3 img-clickable" src="build/img/clientes/cliente20.avif" data-src="build/img/clientes/cliente20.avif" alt="imagen galeria">
            </a>
        </li>
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente23">
                <img class="img-fluid my-3 img-clickable" src="build/img/clientes/cliente23.avif" data-src="build/img/clientes/cliente23.avif" alt="imagen galeria">
            </a>
        </li>
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente24">
                <img class="img-fluid my-3 img-clickable" src="build/img/clientes/cliente24.avif" data-src="build/img/clientes/cliente24.avif" alt="imagen galeria">
            </a>
        </li>
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente27">
                <img class="img-fluid my-3 img-clickable" src="build/img/clientes/cliente27.avif" data-src="build/img/clientes/cliente27.avif" alt="imagen galeria">
            </a>
        </li>
        <li class="col-md-6 col-lg-4">
            <a data-bs-toggle="modal" data-bs-target="#modalGaleria" data-bs-imagen="cliente39">
                <img class="img-fluid my-3 img-clickable d-md-none d-lg-block" src="build/img/clientes/cliente39.avif"
                data-src="build/img/clientes/cliente39.avif" alt="imagen galeria">
            </a>
        </li>
    </ul>

</section>


<script src="js/galeria.js"></script>