<section id="gym" class="container my-5">

    <h2 class="text-center my-5 fs-3 fw-bold mb-4 galeriaHeader">Gym</h2>

    <div class="row">
        <!-- Tarjeta 1 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/4d8VNvT2/gym3.avif" class="card-img-top rounded" alt="Imagen Servicio 1">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Abierto de Lunes a Viernes.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/hv6mVSv9/gym4.avif" class="card-img-top rounded" alt="Imagen Servicio 2">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Consulta nuestros horarios.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/h4bNMf1y/Maquinas7.avif" class="card-img-top rounded" alt="Imagen Servicio 2">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Consulta nuestras normas</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 4 -->
        <div class="col-12 mb-4">
            <div class="card border-0 rounded">
                <div id="mapa3" class="card-img-top rounded" style="height: 300px;"></div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Ubicación FrailesFit</p>
                </div>
            </div>
        </div>

    </div>
</section>
