<header class="py-5 header">

    <div class="container-xl">

        <!-- Video de fondo -->
        <div class="envoltorio-video-fondo">
            <video class="video-fondo" autoplay muted loop playsinline>
                <source src="/src/video/frailesfit.webm" type="video/webm">
            </video>
        </div>


        <!-- Barra de usuario y carrito -->
        <div class="user-cart-bar d-flex justify-content-between my-4 align-items-center py-2 text-white">
            <span class="user-name ms-3">Bienvenido,
                <span id="username">Usuario</span>

                <button id="logout-btn" class="btn logout ms-3">Cerrar sesión</button>
            </span>

            <span class="d-flex align-items-center">
                <!--Panel de administración -->
                <a href="/src/pages/panelAdmin.html" id="admin-panel-btn"
                    class="admin-panel-btn text-warning me-3 d-none" title="Panel de administración">
                    <i class="bi bi-gear-fill fs-4"></i>
                </a>

                <!-- Icono del carrito -->
                <div class="dropdown carrito">
                    <button class="btn btn-link cart-icon me-3 dropdown-toggle" type="button" id="cartDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="cart-count" class="badge bg-warning">0</span> <!-- Contador de elementos -->
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="cartDropdown">
                        <li>
                            <div class="cart-items">
                                <!-- Aquí se añadirán los productos -->
                            </div>
                        </li>
                        <li>
                            <button class="btn logout w-100" id="checkout-btn">Realizar Pedido</button>
                        </li>
                    </ul>
                </div>
            </span>
        </div>


        <nav class="navbar justify-content-between navbar-expand-lg navbar-dark slide">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="logo img-fluid" src="https://i.postimg.cc/mrQMwCBN/Frailes-Fit-Logo2.png"
                        alt="Logo del Gimnasio">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse d-lg-flex justify-content-around justify-content-center" id="navbarScroll">
                    <ul class="navbar-nav my-2 my-lg-0 text-center navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" href="/index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/src/pages/rutinas.html">Rutinas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/src/pages/entrenadores.html">Entrenadores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/src/pages/horarios.html">Horarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/src/pages/instalaciones.html">Instalaciones</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Tienda
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/src/pages/suplementacion.html">Suplementación</a>
                                </li>
                                <li><a class="dropdown-item" href="/src/pages/merchandising.html">Merchandising</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/src/pages/contacto.html">Contacto</a>
                        </li>

                    </ul>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="/src/pages/login.html" class="btn w-bold px-5 login">Login</a>
                    </div>


                </div>
            </div>
        </nav>


    </div>


    <div class="container-xl mt-1 text-center slide-derecha">
        <h3 class="heading fs-1 m-0">
            ¡Lleva tu entrenamiento al siguiente nivel en <span class="fw-bold frailes">Frailes<span
                    class="text-white">Fit</span></span>!
        </h3>
        <div class="heading-data d-flex justify-content-start align-items-end flex-column">
            <a class="telefono text-decoration-none fw-bold text-white" href="tel:626879633"><i
                    class="fas fa-phone-alt"></i> 626-879-633</a>
            <a class="correo text-decoration-none fw-bold text-white" href="mailto:frailesfit@gmail.com"><i
                    class="fas fa-envelope"></i> frailesfit@gmail.com</a>
        </div>

    </div>
</header>