<header class="py-5 header">
    <div class="container-xl">
        <nav class="navbar justify-content-between navbar-expand-lg navbar-dark slide">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="logo img-fluid" src="https://i.postimg.cc/HnxRPCmZ/Frailes-Fit-Logo.png" alt="Logo del Gimnasio">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                    <ul class="navbar-nav my-2 my-lg-0 text-center navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" href="/ui/build/index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/build/src/pages/rutinas.html">Rutinas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./src/pages/entrenadores.html">Entrenadores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./src/pages/horarios.html">Horarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./src/pages/instalaciones.html">Instalaciones</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Tienda
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="./src/pages/suplementacion.html">Suplementación</a></li>
                                <li><a class="dropdown-item" href="../pages/merchandising.html">Merchandising</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./src/pages/contacto.html">Contacto</a>
                        </li>
                    </ul>



                    <button type="button" class="btn fw-bold px-5 login" data-bs-toggle="modal" data-bs-target="#modal">
                        Login
                    </button>

                    <!-- Modal -->
                    <div id="modal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="modalLabel">Login</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Aquí puedes agregar el formulario de login -->
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="bi bi-plus-circle-fill"></i> Registrar Cliente
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                                <div class="text-center mt-3">
                                    <a href="#">¿No tienes cuenta? Regístrate aquí</a>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </nav>


    </div>


    <div class="container-xl mt-5 text-center slide-derecha">
        <h3 class="heading fs-1 ">
            ¡Lleva tu entrenamiento al siguiente nivel en <span class="fw-bold frailes">Frailes<span
                    class="text-white">Fit</span></span>!
        </h3>
        <div class="heading-data d-flex justify-content-start align-items-end flex-column">
            <a class="telefono text-decoration-none fw-bold text-white" href="tel:626879633"><i
                    class="fas fa-phone-alt"></i> 626-879-633</a>
            <a class="correo text-decoration-none fw-bold text-white" href="mailto:info@frailesfit.com"><i
                    class="fas fa-envelope"></i> enriqueatienzaalvarez@gmail.com</a>
        </div>

    </div>
</header>