<section id="merch" class="container my-5">
    
    <h2 class="text-center my-5 fs-3 fw-bold mb-4 galeriaHeader">Ropa</h2>

    <div class="row">

        <!-- Carrusel Prenda 1 -->
        <div class="col-md-6 col-12 mb-4">
            <div class="card">
                <div id="carouselPrenda1" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://i.postimg.cc/7ZyG4t2Y/prenda1.avif" class="d-block w-100 rounded" alt="Imagen de Prenda 1">
                        </div>
                        <div class="carousel-item">
                            <img src="https://i.postimg.cc/1zm8ngBk/prenda1b.avif" class="d-block w-100 rounded" alt="Imagen de Prenda 1 - Variante">
                        </div>
                        <div class="carousel-item">
                            <img src="https://i.postimg.cc/ZR00H11j/prenda1Modelo.avif" class="d-block w-100 rounded" alt="Prenda 1 en Modelo">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPrenda1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" style="filter: invert(1);" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPrenda1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" style="filter: invert(1);" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
                <div class="card-body bg-secondary-subtle">
                    <h5 class="card-title text-center fw-bold">Camiseta</h5>
                    <select class="form-select mb-3" aria-label="Selecciona la talla">
                        <option selected>Selecciona la talla</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                    <button class="btn fw-bold w-100 merch">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <!-- Carrusel Prenda 2 -->
        <div class="col-md-6 col-12 mb-4">
            <div class="card">
                <div id="carouselPrenda2" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://i.postimg.cc/LsxnzH0n/prenda2.avif" class="d-block w-100 rounded" alt="Imagen de Prenda 2">
                        </div>
                        <div class="carousel-item">
                            <img src="https://i.postimg.cc/Jng02p88/prenda2b.avif" class="d-block w-100 rounded" alt="Imagen de Prenda 2 - Variante">
                        </div>
                        <div class="carousel-item">
                            <img src="https://i.postimg.cc/3NvN52rv/prenda2Modelo.avif" class="d-block w-100 rounded" alt="Prenda 2 en Modelo">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPrenda2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" style="filter: invert(1);" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPrenda2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" style="filter: invert(1);" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
                <div class="card-body bg-secondary-subtle">
                    <h5 class="card-title text-center fw-bold">Sudadera</h5>
                    <select class="form-select mb-3" aria-label="Selecciona la talla">
                        <option selected>Selecciona la talla</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                    <button class="btn fw-bold w-100 merch">Añadir al carrito</button>
                </div>
            </div>
        </div>

    </div>
</section>
