<section id="muro" class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card entrenador-card shadow-lg zoom-hover">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="https://i.postimg.cc/Jn1z0t3s/img_(67).jpg" alt="Entrenador" class="img-fluid p-2 entrenador-img">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="card-body text-start">
                            <p class="card-text">
                                Nunca imaginé que este mismo gimnasio, que tanto me dio en su momento, acabaría estando
                                en mis manos. Para mí, poder regresar y tomar las riendas de este lugar es un auténtico
                                privilegio y un honor. Fue aquí donde encontré mi primera familia en el mundo del
                                fitness, un espacio que me transformó y me permitió crecer.
                                
                                Soy una persona que ha explorado muchos caminos: he sido runner, he probado con la bici,
                                pero lo que más me llena es mi conexión con la naturaleza y con mi tierra. Frailes es mi
                                hogar, y lo que más me gusta en la vida es poder compartir todo lo que he aprendido en
                                este viaje con los demás.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
