<section class="d-grid img-fluid nosotros">
    <div class="contenido-nosotros">
        <h2 class="fw-bold">Sobre FrailesFit</h2>
        <h5 class="sobrenosotros-intro">Tu gimnasio en Frailes, comprometidos con tu bienestar.</h5>
        <p>En FrailesFit nos enfocamos en ofrecerte un espacio cercano y cómodo donde puedas alcanzar tus
            objetivos de forma progresiva y segura. Estamos en Frailes, Jaén, y nuestra misión es ayudarte a
            mejorar tu calidad de vida a través del ejercicio. Con instalaciones bien equipadas y un equipo
            dispuesto a apoyarte en cada paso, buscamos que cada entrenamiento sea una experiencia agradable. Ya
            sea que quieras ponerte en forma, mantenerte activo o empezar tu camino hacia un estilo de vida más
            saludable, en FrailesFit te damos el espacio para hacerlo a tu ritmo.</p>
    </div>
</section>