<section id="pabellon" class="container my-5">

    <h2 class="text-center my-5 fs-3 fw-bold mb-4 galeriaHeader">Pabellón Municipal</h2>

    <div class="row">
        <!-- Tarjeta 1 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/nh87zc6x/pabellon.avif" class="card-img-top rounded" alt="Imagen Servicio 1">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Abierto 24horas, 7 días a la semana, Gratis.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/fRxd0QN9/pabellon5.avif" class="card-img-top rounded" alt="Imagen Servicio 2">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">¡Cuida las instalaciones!</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/nLpD4SFw/pabellon3.avif" class="card-img-top rounded" alt="Imagen Servicio 2">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Reserva en el horario de apertura del gimnasio.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 4 -->
        <div class="col-12 mb-4">
            <div class="card border-0 rounded">
                <div id="mapa2" class="card-img-top rounded" style="height: 300px;"></div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Ubicación del Pabellón Municipal</p>
                </div>
            </div>
        </div>

    </div>
</section>
