<section id="padel" class="container my-5">

    <h2 class="text-center my-5 fs-3 fw-bold mb-4 galeriaHeader">Pista de Padel</h2>

    <div class="row">
        <!-- Tarjeta 1 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/Z5F95P8P/padel5.avif" class="card-img-top rounded" alt="Imagen Servicio 1">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Abierto 24horas, 7 días a la semana.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/d3b7L4N6/padel3.avif" class="card-img-top rounded" alt="Imagen Servicio 2">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Dia 12 € / Noches 15 €.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-md-4 col-12 mb-4">
            <div class="card border-0 rounded">
                <div class="zoom">
                    <img src="https://i.postimg.cc/YqFGJBjs/padel6.avif" class="card-img-top rounded" alt="Imagen Servicio 2">
                </div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Reserva en el horario de apertura del gimnasio.</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 4 -->
        <div class="col-12 mb-4">
            <div class="card border-0 rounded">
                <div id="mapa" class="card-img-top rounded" style="height: 300px;"></div>
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Ubicación de la Pista de Pádel</p>
                </div>
            </div>
        </div>

    </div>
</section>

