<h3 class="text-center fs-2 fw-bold planes m-5">Planes</h3>
<section class="py-5">
    <div class="container-xl">
        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <div class="row nuestros-planes">

                    <div class="col-md-4 order-2 plan inicio mb-4 mb-md-0">
                        <h3 class="text-center fw-bold">Inicio</h3>
                        <p class="text-center precio">4€ Día</p>
                        <ul class="list-unstyled">
                            <li class="text-center text-white text-bg-success rounded-5 fw-bold mb-2">✅ Rutinas!</li>
                            <li class="text-center text-white text-bg-success rounded-5 fw-bold mb-2">✅ Cercania</li>
                            <li class="text-center text-white text-bg-success rounded-5 fw-bold mb-2">✅ Trato Personalizado</li>
                        </ul>
                        <div class="d-flex justify-content-center align-items-center">

                            <img class="footer__logo" src="https://i.postimg.cc/L5PTGBzT/logoGym1.avif" alt="Logo">
                        </div>
                    </div>

                    <div class="col-md-4 order-1 order-md-2 plan negocio mb-4">
                        <h3 class="text-center fw-bold">Bonos</h3>
                        <p class="text-center precio">Mes 30€</p>
                        <ul class="list-unstyled">
                            <li class="text-center text-white text-bg-dark rounded-5 fw-bold mb-2">💪🏽 10 Días 15€</li>
                            <li class="text-center text-white text-bg-dark rounded-5 fw-bold mb-2">🫵🏽 Bono Familiar:</li>
                            <li class="text-center text-white text-bg-dark rounded-5 fw-bold mb-2">🏆 50€</li>
                        </ul>
                        <div class="d-flex justify-content-center align-items-center">

                            <img class="footer__logo" src="https://i.postimg.cc/Y2Lb4kJW/logogym2.avif" alt="Logo">

                        </div>
                    </div>

                    <div class="col-md-4 order-3 plan pro">
                        <h3 class="text-center fw-bold">Clases</h3>
                        <p class="text-center precio">25€ Mes</p>
                        <ul class="list-unstyled">
                            <li class="text-center text-white text-bg-success rounded-5 fw-bold mb-2">✅ Zumba y Pilates</li>
                            <li class="text-center text-white text-bg-success rounded-5 fw-bold mb-2">✅ 5€ Clase</li>
                        </ul>
                        <div class="d-flex justify-content-center align-items-center">

                            <img class="footer__logo" src="https://i.postimg.cc/X7MxdmbD/logogym3.avif" alt="Logo">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>