<section id="servicios" class="container my-5">
    
    <h2 class="text-center my-5 fs-3 fw-bold mb-4 galeriaHeader">Horarios y Reglas</h2>

    <div class="row">
        <!-- Tarjeta 1 -->
        <div class="col-md-6 col-12 mb-4">
            <div class="card border-0 rounded">
                <img src="build/img/horario.avif" class="card-img-top rounded" alt="Imagen Servicio 1">
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Nuestros Horarios</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-6 col-12 mb-4">
            <div class="card border-0 rounded">
                <img src="build/img/reglas.avif" class="card-img-top rounded" alt="Imagen Servicio 2">
                <div class="card-body text-center">
                    <p class="card-text fw-bold">Nuestras Reglas</p>
                </div>
            </div>
        </div>
    </div>
</section>
