<section class="d-grid img-fluid userRutina">
    <div class="contenido-rutina">
        <h2 class="fw-bold text-white" id="titulo-rutina">¿Aún no tienes tu rutina?</h2>
        <h5 class="subtitulo-rutina text-white">

            <a href="login.html" id="login-link" class="fs-3 text-decoration-none galeriaHeader">loguéate</a> si ya
            estás registrado y pregunta a tu entrenador.
            
        </h5>
    </div>
    <div id="rutina-container" style="display:none;">
        <h3 class="fw-bold galeriaHeader">Tu rutina:</h3>
        <p id="rutina"></p>
    </div>

</section>